<section>
  <h2>Our Mission</h2>
  <h4>{{ main.about.description }}</h4>
</section>
<!-- <section>
  <div ng-repeat="goal in main.about.goals">
    <div class="card-container col l4 s12">
      <div class="card cyan">
        <div class="card-content white-text">
          <img ng-src="{{goal.icon}}">
          <span class="card-title">{{ goal.name }}</span>
          <p>{{ goal.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section>
  <div class="row">
      <div ng-repeat="goal in main.about.goals">
      <div class="col l4 s12">
        <div class="panel">
          <div class="row">
            <div class="col s3">
              <img class="responsive-img" ng-src="{{goal.icon}}">
            </div>
            <div class="col s3">
              <h4>{{ goal.name }}</h4>
            </div>
          </div>
          <p>{{ goal.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>